//responsive
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$desktop--large: "(min-width: 1200px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$mobile: "(max-width: 767px)";
$mobile--small: "(max-width: 369px)";

//colors
$color_oxford: #3c515f;
$color_red: #f1364e;
$color_gray: #6b7c82;
$color_gray_white:#f8f8f8;
$color_dark: #1a2127;

@mixin center_vertical() {
  display: table; // ie9
  display: flex;
  flex-align: center;
  flex-pack: center;
  align-items: center;
}

@mixin center_horizontal {
  display: table; // ie9
  display: flex;
  flex-align: baseline;
  align-items: baseline;
}


body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding-top: 100px;
  font-size: 14px;
  
  @media #{$mobile} {
    font-size: 9px;
    padding-top: 60px;
  }

  @media #{$tablet} {
    font-size: 11px;
  }

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}



#header {
  height: 100px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.09);

  @media #{$mobile} { 
    height: 60px;
    padding-left: 20px;
  }

  img {
    float: left;
    margin: 20px 0 0 0;

    @media #{$mobile} {
      width: 70px;
    }
  }
  
  .navbar-header {
    @media #{$mobile}, #{$tablet} {
      width: 100%;
    }
  }

  .navbar-toggle {
     span {
        background: $color_red;
     }
     
     &:hover, &:focus {
        background: transparent;
        color: $color_red;
      }
  }

  .navbar-nav {
    padding-top: 25px;
    a {
      color: $color_oxford !important;
      transition: all 300ms ease;

      &:hover, &:focus {
        background: transparent;
        color: $color_red;
      }
    }
    
  }
}

.sidr {
  background: #fff !important;
  box-shadow: none !important;
  font-family: 'Rubik', sans-serif !important;

  ul {
    li {
      a {
        color: $color_oxford !important;
      }
    }
  }

  &-class-close {
    color: $color_red;
    height: 60px;
    width: 100%;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
  }
}

h1 {
  font-family: Rubik;
	font-size: (70 / 14) * 1em;
	font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

h2 {
  font-family: Rubik;
	font-size: (38 / 14) * 1em;
	font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-family: Rubik;
	font-size: (25 / 14) * 1em;
	font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

h4 {
  font-family: Rubik;
	font-size: (21 / 14) * 1em;
	font-weight: 500;
  margin: 0;
  line-height: 1.5;
}

h5 {
  font-size: (14 / 14) * 1em;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 2px;
  margin: 0;
}

p {
  font-size: (18 / 14) * 1em;
	font-weight: 300;
  margin: 0;
}

.input_container {
  &__select {
    position: relative;
    background: $color_oxford;
    color: $color_gray;

    &::after {
       position: absolute;
       right: 15px;
       top: 10px;
       bottom: 0;
       margin: auto;
      font-family:"Ionicons";
      content: "\f123";
      font-size: 25px;
      color: #fff;
    }
  }
}

.input, .form-control {
  display: block;
  width: 100%;
  height: 50px;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  font-size: (21 / 14) * 1em;
  background: transparent;
  color: $color_gray;
  -webkit-appearance: none;
  -moz-appearance : none;
  
  &::-webkit-input-placeholder {
    color: #fff;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #fff;
  }
  
  &_container {
    display: block;
    margin-bottom: 15px;
  }

  &__errors {
    color: $color_red;
  }
  
}

.input-group-addon {
  background: transparent;
  border: 3px solid #FFFFFF;
  border-right: none;
  color: #fff;
  font-size: (21 / 14) * 1em;
  font-weight: bold;
}

.input-group {
  font-weight: bold;

  .form-control {
    border-left: none;
  }
}

.btn {
  border: none;
  font-size: (25 / 14) * 1em;
	font-weight: bold;
  cursor: pointer;
  background: #fff;

  &:focus {
    outline: none;
  }

  &--outline {
    background: transparent;
    border-radius: 8px;
	  border: solid 3px #fff;
    color: #fff;
    transition: 300ms all ease;

    &:hover {
      background: #fff;
      color: $color_dark;
    }
  }
}

.bs_donate_form__step {
  display: none;
  &--active {
    display: block;
  }
}

.form_steps {
  overflow: hidden;

  &__viewport {
    position: relative;
    left: 0;
    transition: all 400ms ease-in-out;
  }

  &__step {
    float: left;
  }
}

.alert-danger {
  background: #FC3938; 
  border: none;
  color: #fff;
  transition: all 300ms ease;
}

button {
  height: 50px;
  background: transparent;
  border: 3px solid #fff;
  padding: 12px;
  color: #fff;
  text-align: center;
  font-size: (25 / 14) * 1em;
  border-radius: 8px;
  
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.card-type {
  opacity: .5;
  transition: all 300ms ease;
  &--active {
    opacity: 1;
  }
}

.form-group {
  margin-bottom: 15px !important;
  position: relative;
  
  &--error {
    border-color: #F2364E;
    
    &:focus {
      border-color: #F2364E;
    }
  }

  &__error {
    background: #F2364E;
    color: #fff;
    padding: 7px;
    z-index: 100;
    border-radius: 8px;
    right: 15px;
  }
}

.color-red {
  color: $color_red
}

.btn-pray {
  padding: 5px 30px; 
  min-height: 100px;
  border-radius: 8px; 
  border: solid 4px #f1364e; 
  font-size: 5em; 
  font-weight: bold; 
  color: #f1364e;

  img {
    display: block;
    float: left;
    padding-top: 7px;

    @media #{$tablet} {
      display: none
    }
  }
}

.checkbox {
  &__label {
    font-family: Rubik;
	  font-size: (18 / 14) * 1em;
    font-weight: 300 !important;
    color: rgba(255, 255, 255, .3);
  }
}

.bs_share {
  position: fixed;
  right: 0;
  width: 38px;
  top: 50%;
  bottom: 0;
  margin: auto;
  z-index: 10015;
 

  &__fb {
    a {
      width: 100%;
      height: 38px;
      background: #192127;
      @include center-vertical;
      justify-content: center;
      text-align: center;
    }
    
  }

    &__tw {
      a {
        width: 100%;
        height: 38px;
        background: #fff;
        @include center-vertical;
        justify-content: center;
        text-align: center;
        path {
          fill: #1A2127 !important;
        }
      }
  }
}

@import 'reset';
@import 'donate';