body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding-top: 100px;
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

#header {
  height: 100px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09); }
  #header img {
    float: left;
    margin: 20px 0 0 0; }

h1 {
  font-family: Rubik;
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  line-height: 1.2; }

h2 {
  font-family: Rubik;
  font-size: 2.71429em;
  font-weight: bold;
  margin: 0;
  line-height: 1.2; }

h3 {
  font-family: Rubik;
  font-size: 1.78571em;
  font-weight: bold;
  margin: 0;
  line-height: 1.5; }

h4 {
  font-family: Rubik;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  line-height: 1.5; }

h5 {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 0; }

p {
  font-size: 1.28571em;
  font-weight: 300;
  margin: 0; }

.input, .form-control {
  display: block;
  width: 100%;
  height: 50px;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  font-size: 1.5em;
  background: transparent;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #fff; }
  .input:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #fff; }
  .input_container, .form-control_container {
    display: block;
    margin-bottom: 15px; }
  .input__errors, .form-control__errors {
    color: #f1364e; }

.input-group-addon {
  background: transparent;
  border: 3px solid #FFFFFF;
  border-right: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold; }

.input-group {
  font-weight: bold; }
  .input-group .form-control {
    border-left: none; }

.btn {
  border: none;
  font-size: 1.78571em;
  font-weight: bold;
  cursor: pointer;
  background: #fff; }
  .btn:focus {
    outline: none; }
  .btn--outline {
    background: transparent;
    border-radius: 8px;
    border: solid 3px #fff;
    color: #fff;
    transition: 300ms all ease; }
    .btn--outline:hover {
      background: #fff;
      color: #1a2127; }

.bs_donate_form__step {
  display: none; }
  .bs_donate_form__step--active {
    display: block; }

.form_steps {
  overflow: hidden; }
  .form_steps__viewport {
    position: relative;
    left: 0;
    transition: all 400ms ease-in-out; }
  .form_steps__step {
    float: left; }

.alert-danger {
  background: #FC3938;
  border: none;
  color: #fff;
  transition: all 300ms ease; }

button {
  height: 50px;
  min-width: 130;
  background: transparent;
  border: 3px solid #fff;
  padding: 12px;
  color: #fff;
  text-align: center;
  font-size: 1.78571em; }
  button:focus {
    box-shadow: none;
    outline: none; }

.card-type {
  opacity: .5;
  transition: all 300ms ease; }
  .card-type--active {
    opacity: 1; }

.form-group {
  margin-bottom: 15px !important;
  position: relative; }
  .form-group--error {
    border-color: #F2364E; }
  .form-group__error {
    background: #F2364E;
    color: #fff;
    padding: 15px;
    width: 100%;
    position: absolute; }

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
  padding-top: 0; }

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
  margin: 0;
  padding: 0; }

.donate_landing {
  position: relative;
  overflow: hidden; }
  .donate_landing h6 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 2.78px;
    padding-bottom: 6px; }
  .donate_landing__viewport {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: all 300ms;
    position: relative;
    left: 0; }
  .donate_landing__cards {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0; }
    .donate_landing__cards .card-type {
      width: 40px; }
  .donate_landing__info {
    margin-left: 25px;
    font-size: 1.07143em;
    font-weight: 300;
    color: #fff;
    padding-top: 15px; }
  .donate_landing__back {
    background: transparent;
    border: none;
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 7px; }
  .donate_landing__type {
    font-size: 1.28571em;
    opacity: .4;
    font-weight: 500;
    color: #fff;
    float: left;
    transition: all 300ms ease;
    margin-right: 5px; }
    .donate_landing__type:first-child {
      margin-right: 22px; }
    .donate_landing__type:hover {
      color: #fff;
      opacity: 1; }
    .donate_landing__type--active {
      opacity: 1;
      padding-bottom: 5px; }
      .donate_landing__type--active::after {
        display: block;
        content: '';
        width: 60%;
        height: 3px;
        background: #fff; }
  .donate_landing__submit {
    background: transparent;
    font-size: 1.78571em;
    color: #3C515F;
    border: 3px solid #fff;
    border-radius: 8px;
    text-transform: uppercase;
    line-height: 0;
    background: #fff;
    transition: all 300ms ease;
    font-weight: bold; }
    .donate_landing__submit:hover {
      background: transparent;
      color: #fff; }
    .donate_landing__submit-get_token {
      font-size: 16px; }
  .donate_landing .radio {
    color: #fff;
    float: left; }
    @media (max-width: 767px) {
      .donate_landing .radio {
        text-align: left;
        width: 100%; } }
    .donate_landing .radio label {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3.11px; }

a:hover {
  text-decoration: none; }

.change-amount li {
  float: left;
  width: 20%;
  padding: 0 5px;
  margin-bottom: 10px;
  list-style: none; }
  .change-amount li:first-child {
    padding-left: 0; }
  .change-amount li:last-child {
    padding-right: 0; }
  .change-amount li a {
    float: left;
    border: 3px solid #fff;
    border-radius: 8px;
    height: 50px;
    color: #fff;
    text-align: center;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.35714em;
    font-weight: 500;
    transition: all 300ms ease; }
    .change-amount li a:hover, .change-amount li a.active {
      text-decoration: none;
      background: #fff;
      color: #3C515F; }

.pro-bar {
  height: 10px;
  border-radius: 8px;
  border: solid 3px #ffffff;
  width: 100%;
  background: transparent; }
  .pro-bar__status {
    background: #fff; }
