body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding-top: 100px;
  font-size: 14px; }

#header {
  height: 100px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0; }
  #header img {
    float: left;
    margin: 40px 0 0 40px; }

h1 {
  font-family: Rubik;
  font-size: 5em;
  font-weight: bold; }

h2 {
  font-family: Rubik;
  font-size: 2.71429em;
  font-weight: bold; }

h3 {
  font-family: Rubik;
  font-size: 1.78571em;
  font-weight: bold; }

h4 {
  font-family: Rubik;
  font-size: 1.5em;
  font-weight: 500; }

h5 {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2px; }

p {
  font-size: 1.28571em;
  font-weight: 300; }

.input-container {
  margin-bottom: 15px; }

input {
  width: 100%;
  height: 50px;
  border: 3px solid #FFFFFF;
  border-radius: 8px;
  font-size: 1.125em;
  padding-left: 20px;
  background: transparent;
  color: #fff; }
  input::-webkit-input-placeholder {
    color: #fff; }
  input:focus {
    outline: none; }

.btn {
  border: none; }
  .btn--outline {
    background: transparent;
    border-radius: 8px;
    border: solid 3px #fff; }
